body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #0d0c0c;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 18px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(29, 26, 26);;
}

.hour {
  background-color: #905858a5;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #c94848;
  color: white;
}

.present {
  background-color: #869f34;
  color: white;
}

.future {
  background-color: #36598d87;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #52664e89;
  color: rgb(106, 171, 114);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/**Mobile application functionality **/
/**Program will sport the on smaller devices as well**/

@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-width: 85;
    border: 0;
  }
}